/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'RobotoFlex-Regular';
    src: url('../public/fonts/RobotoFlex-Regular.ttf');
  }
  
/* Add this in your global CSS file (e.g., styles/globals.css) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* for Internet Explorer */
  scrollbar-width: none; /* for Firefox */
}
