/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'RobotoFlex-Regular';
    src: url('../public/fonts/RobotoFlex-Regular.ttf');
  }
  
/* .ill{
  letter-spacing: 20px;
} */